/** entry-card.scss */
.entry-card {
  font-size: 1.2em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
}